XeviousVS/XeviousVS_Client/src/main/resources/entrataLog.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xeviousvs.LogEventoXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="indirizzoIP"/>
        <xs:element type="xs:string" name="timestampEvento"/>
        <xs:element type="xs:string" name="descrizioneEvento"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>